<!--<p id="notice"><%= notice %></p> -->
<div id="content2015">
	<div class="div01"> <%= image_tag("2015kv2.jpg") %> </div>
</div>
<%= render 'form' %>
<script>
  (function(){
    xcuser.init(); 
  })()
  
</script>