
<div style="height: 52px;width: 300px;position: fixed;background-color: #dcdcdc;z-index: 1;text-align: center;padding-top: 10px;font-size: 20px;">直播控制</div>
<div style="position: relative;">
<iframe src="/program/<%= params[:id]%>/control" frameborder="no" scrolling="no" height="100px" style="position:absolute;"></iframe>
</div>

