<p>亲爱的云医用户<%= @resource.email %>，你好!</p>

<p>欢迎使用云医找回密码功能，请<%= link_to '点击此处', edit_password_url(@resource, reset_password_token: @token) %>修改密码。</p>
<p>为保证您的帐号安全，该链接有效期为6小时，并且点击一次后失效！</p>
<p>如果以上链接无法点击，请复制链接地址并粘贴到浏览器窗口中进行访问。</p>

<p>小提示：</p>
<p>1.如果你错误的接收到此邮件，请不要慌张，也无需执行任何操作来取消帐户！该帐户将不会启动。</p>
<p>2.这只是一封系统自动发送的邮件，请不要直接回复哦。</p>
